﻿@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Meie Loomad</h2>

<button class="btn btn-sm" title="Lisa uus loom" ng-disabled="addMode" ng-click="addAnimal()">
    <span class="glyphicon glyphicon-plus"></span>&nbsp;<span>Lisa uus loom</span>
</button>

    <div class="alert alert-danger alert-dismissible" ng-show="errorMessage" ng-bind="errorMessage"></div>

<table class="table table-striped table-condensed table-hover">
    <thead>
    <tr>
        <th>Liik</th>
        <th>Nimi</th>
        <th>Sünniaasta</th>
        <th>Vanus</th>
        <th>Lisamisaeg</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <td colspan="7">Kõikide loomade keskmine vanus: {{getAverageAge() | number:0}}</td>
    </tr>
    </tfoot>

    <tbody>

    <tr ng-show="addMode" class="form-inline">
        <td>
            <select class="form-control" required ng-model="newAnimal.species" ng-options="s for s in species | orderBy: s"></select>
        </td>
        <td>
            <input type="text" required class="form-control" placeholder="Nimi" ng-model="newAnimal.name" />
        </td>
        <td>
            <input type="date" required class="form-control" placeholder="Sünniaeg" ng-model="newAnimal.dob" />
        </td>
        <td></td>
        <td></td>
        <td>
            <button class="btn btn-xs btn-default" title="Salvesta" ng-click="addNewAnimal()">
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </button>
        </td>
        <td>
            <button class="btn btn-xs btn-default" title="Tühista" ng-click="cancelNew()">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </td>
    </tr>

    <tr ng-repeat="a in animals">
        <td>
            <span ng-show="!a.editMode">{{ a.species }}</span>
            <span ng-show="a.editMode">
                <select class="form-control" required ng-model="a.species" ng-options="s for s in species | orderBy: s"></select>
            </span>
        </td>
        <td>
            <span ng-show="!a.editMode">{{ a.name }}</span>
            <span ng-show="a.editMode">
                <input type="text" ng-required="true" class="form-control" placeholder="Nimi" ng-model="a.name" />
            </span>
        </td>
        <td>
            <span ng-show="!a.editMode">{{ a.dob | date:'yyyy'}}</span>
            <span ng-show="a.editMode">
                <input type="date" required class="form-control" placeholder="Sünniaeg" ng-model="a.dob" />
            </span>
        </td>
        <td>{{ a.age }}</td>
        <td>{{ a.addedOn | date:'yyyy-MM-dd HH:mm'}}</td>
        <td>
            <button ng-show="!a.editMode" class="btn btn-xs btn-default" title="Muuda" ng-click="editAnimal(a)">
                <span class="glyphicon glyphicon-edit"></span>
            </button>
            <button ng-show="a.editMode" class="btn btn-xs btn-default" title="Salvesta muudatused" ng-click="saveAnimal(a)">
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </button>
        </td>
        <td>
            <button ng-show="!a.editMode" class="btn btn-xs btn-danger" title="Kustuta" ng-click="deleteAnimal(a)">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
            <button ng-show="a.editMode" class="btn btn-xs btn-default" title="Tühista muudatused" ng-click="cancelEditAnimal(a)">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </td>
    </tr>

    </tbody>
</table>
